@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
body{
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(../images/wallpaper.png);
    overflow-x: hidden;
}
.nav{
    margin: 2vh 3vw;
    background-color: #f0fffb;
    padding: 1vw;
    border: 0.2vw solid #e7eefb;
}
.selection{margin: 3vh;}
.selection > a{margin-left: 3vw;}
#avatar{
    scale: 0.4;
    margin: -64vh -23vw -48vh;
}
main{
    border: 0.2vw solid;
    border-radius: 2vw;
    background-color: #f7fcf9f5;
    width: 69vw;
    margin: 0 auto;
    text-align: center;
}
#box>h1{ margin: 6vh 0 2vh;}
#box>div>input{
    margin: 0 auto;
    width: 20vw;
}
#box>button{margin-bottom: 3.69vh;}